<!DOCTYPE HTML>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>About Us</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Description website">
  <meta name="author" content="Maksym Blank">
  <meta name="keywords" content="website, with, meta, tags">
  <meta name="robots" content="noindex, follow">
  <meta name="revisit-after" content="5 month">
  <meta name="image" content="http://mywebsite.com/image.jpg">
  <meta name="og:title" content="Title website">
  <meta name="og:description" content="Description website">
  <meta name="og:image" content="http://mywebsite.com/image.jpg">
  <meta name="og:site_name" content="My Website">
  <meta name="og:type" content="website">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Title website">
  <meta name="twitter:description" content="Description website">
  <link href="assets/css/plugins/bootstrap.min.css" rel="stylesheet">
  <link href="assets/css/plugins/slick.css" rel="stylesheet">
  <link href="assets/css/plugins/ion.rangeSlider.min.css" rel="stylesheet">
  <link href="assets/css/plugins/magnific-popup.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/fonts/flaticon/flaticon.css" rel="stylesheet">
  <link href="assets/fonts/font-awesome.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon.ico">
</head>

<body class="btn-style-5 sigma_header-absolute btn-rounded sidebar-style-3">
  <script src="/assets/js/nvb.js"></script>
<div id='nvbar'>
</div>

<script>
  nvb('about us');
</script>
  <!--Section End-->

  <!--Section Start-->
  <div class="section section-padding">
    <div class="container">
      <div class="row align-items-center mb-5">
        <div class="col-lg-5">
          <div class="section-title">
            <span class="subtitle">Work Process</span>
            <h3 class="title mb-0">How it Works?</h3>
          </div>
        </div>
        <div class="col-lg-4">
          <p class="mb-0">Donec rutrum congue leo eget malesuada. Nulla porttitor accumsan tincidunt. Vestibulum ante ipsum primis.</p>
        </div>
        <div class="col-lg-3 text-lg-right">
          <a href="contact-us.html" class="sigma_btn mt-4 mt-lg-0">Make Appointment</a>
        </div>
      </div>
      <div class="row sigma_info-wrapper style-25">
        <div class="col-lg-4 col-md-6">
          <div class="sigma_info style-25 d-block d-xl-flex">
            <div class="sigma_info-title">
              <span class="sigma_info-icon">

                <i class="flaticon-pharmacy"></i>

              </span>
            </div>
            <div class="sigma_info-description mt-4 mt-xl-0">
              <h5>Search Best Online <br> Professional</h5>
              <p>It is a long established fact that a reader will be distracted by the readable.</p>
              <span class="steps">Step 1</span>
              <span class="pulsive-dot"></span>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="sigma_info style-25 d-block d-xl-flex">
            <div class="sigma_info-title">
              <span class="sigma_info-icon">

                <i class="flaticon-event"></i>

              </span>
            </div>
            <div class="sigma_info-description mt-4 mt-xl-0">
              <h5>Get Instant <br> Appointment</h5>
              <p>It is a long established fact that a reader will be distracted by the readable.</p>
              <span class="steps">Step 2</span>
              <span class="pulsive-dot"></span>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="sigma_info style-25 d-block d-xl-flex">
            <div class="sigma_info-title">
              <span class="sigma_info-icon">

                <i class="flaticon-doctor"></i>

              </span>
            </div>
            <div class="sigma_info-description mt-4 mt-xl-0">
              <h5>Leave Your <br> Feedback</h5>
              <p>It is a long established fact that a reader will be distracted by the readable.</p>
              <span class="steps">Step 3</span>
              <span class="pulsive-dot"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Section End-->

  <!--Section Start-->
  <div class="section bg-secondary-1" style="background-image: url(assets/img/pattern.png)">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 order-2 order-lg-1">
          <div class="sigma_about style-21">
            <div class="section-title">
              <h3 class="title text-white">Why Choose Medtab Clinic?</h3>
            </div>
            <div class="sigma_about-content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. It is a long established fact that a reader will be Lorem ipsum dolor sit amet consectetur.</p>
              <div class="sigma_info style-15">
                <div class="sigma_info-title">
                  <i class="flaticon-stethoscope sigma_info-icon"></i>
                </div>
                <div class="sigma_info-description">
                  <h5>Quality Control System</h5>
                  <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                </div>
              </div>
              <div class="sigma_info style-15 mb-0">
                <div class="sigma_info-title">
                  <i class="flaticon-group sigma_info-icon"></i>
                </div>
                <div class="sigma_info-description">
                  <h5>Highly Professional Staff</h5>
                  <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 offset-lg-1 order-1 order-lg-2">
          <div class="sigma_about style-21 mt-0 w-100 h-100">
            <div class="sigma_about-image-1">
              <img src="assets/img/home-1/400x280.jpg" alt="img">
            </div>
            <div class="sigma_about-image-2 d-none d-sm-block">
              <img src="assets/img/home-1/370x250.jpg" alt="img">
            </div>
          </div>
        </div>
      </div>

      <div class="sigma_counter-wrapper margin-negative bg-primary-1 style-5" style="background-image: url(assets/img/pattern-2.png)">
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="sigma_counter style-5">
              <span>

                <b class="counter" data-from="0" data-to="340">340</b>

                <span class="plus">+</span>
              </span>
              <p class="text-white">Customers</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="sigma_counter style-5">
              <span>

                <b class="counter" data-from="0" data-to="120">120</b>

                <span class="plus">+</span>
              </span>
              <p class="text-white">Years Practical Experience</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="sigma_counter style-5">
              <span>

                <b class="counter" data-from="0" data-to="120">120</b>

                <span class="plus">+</span>
              </span>
              <p class="text-white">Awesome Team Members</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="sigma_counter style-5">
              <span>

                <b class="counter" data-from="0" data-to="80">80</b>

                <span class="plus">+</span>
              </span>
              <p class="text-white">Customers</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Section End-->

  <div class="section pb-0 bg-gray"></div>

  <!--Section Start-->
  <div class="section section-padding bg-gray">
    <div class="container">
      <div class="section-title centered">
        <span class="subtitle">Meet Our Team</span>
        <h3 class="title mb-0">Our Creative Team</h3>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="sigma_team style-15">
            <div class="sigma_team-thumb">
              <img src="assets/img/about-us/255x255.jpg" alt="team">
            </div>
            <div class="sigma_team-body">
              <h5>

                <a href="#">Mega Nelson</a>

              </h5>
              <div class="sigma_team-categories">
                <a href="#" class="sigma_team-category">Physiotherapist</a>
              </div>
              <ul class="sigma_social-icons">
                <li>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="sigma_team style-15">
            <div class="sigma_team-thumb">
              <img src="assets/img/about-us/255x255-0.jpg" alt="team">
            </div>
            <div class="sigma_team-body">
              <h5>

                <a href="#">Doris Griffin</a>

              </h5>
              <div class="sigma_team-categories">
                <a href="#" class="sigma_team-category">Physiotherapist</a>
              </div>
              <ul class="sigma_social-icons">
                <li>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="sigma_team style-15">
            <div class="sigma_team-thumb">
              <img src="assets/img/about-us/255x255-1.jpg" alt="team">
            </div>
            <div class="sigma_team-body">
              <h5>

                <a href="#">Adam Gilbert</a>

              </h5>
              <div class="sigma_team-categories">
                <a href="#" class="sigma_team-category">Physiotherapist</a>
              </div>
              <ul class="sigma_social-icons">
                <li>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="sigma_team style-15">
            <div class="sigma_team-thumb">
              <img src="assets/img/about-us/255x255-2.jpg" alt="team">
            </div>
            <div class="sigma_team-body">
              <h5>

                <a href="#">Steve Cooper</a>

              </h5>
              <div class="sigma_team-categories">
                <a href="#" class="sigma_team-category">Physiotherapist</a>
              </div>
              <ul class="sigma_social-icons">
                <li>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Section End-->
  <!--Section Start-->
  <div class="section section-padding p-0">
    <div class="container-fluid p-0">
      <div class="sigma_instagram style-1 insta-images">
        <div class="sigma_instagram-slider">
          <a href="#">
            <img src="assets/img/about-us/376x430.jpg" alt="img">
          </a>
          <a href="#">
            <img src="assets/img/about-us/376x430-0.jpg" alt="img">
          </a>
          <a href="#">
            <img src="assets/img/about-us/376x430-1.jpg" alt="img">
          </a>
          <a href="#">
            <img src="assets/img/about-us/376x430-2.jpg" alt="img">
          </a>
          <a href="#">
            <img src="assets/img/about-us/376x430-3.jpg" alt="img">
          </a>
          <a href="#">
            <img src="assets/img/about-us/376x430-4.jpg" alt="img">
          </a>
        </div>
      </div>
    </div>
  </div>
  <!--Section End-->
  <!--Section Start-->
  <footer class="sigma_footer style-5 pb-0" id="footer"></footer>
  <script>
    footer()
  </script>
  <!--Section End-->
  <script src="assets/js/plugins/jquery-3.4.1.min.js"></script>
  <script src="assets/js/plugins/popper.min.js"></script>
  <script src="assets/js/plugins/bootstrap.min.js"></script>
  <script src="assets/js/plugins/jquery.instagramFeed.min.js"></script>
  <script src="assets/js/plugins/slick.min.js"></script>
  <script src="assets/js/plugins/imagesloaded.min.js"></script>
  <script src="assets/js/plugins/isotope.pkgd.min.js"></script>
  <script src="assets/js/plugins/jquery.magnific-popup.min.js"></script>
  <script src="assets/js/plugins/jquery.counterup.min.js"></script>
  <script src="assets/js/plugins/jquery.inview.min.js"></script>
  <script src="assets/js/plugins/ion.rangeSlider.min.js"></script>
  <script src="assets/js/main.js"></script>
</body>

</html>
