<!DOCTYPE HTML>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Contact Us</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Description website">
  <meta name="author" content="Maksym Blank">
  <meta name="keywords" content="website, with, meta, tags">
  <meta name="robots" content="noindex, follow">
  <meta name="revisit-after" content="5 month">
  <meta name="image" content="http://mywebsite.com/image.jpg">
  <meta name="og:title" content="Title website">
  <meta name="og:description" content="Description website">
  <meta name="og:image" content="http://mywebsite.com/image.jpg">
  <meta name="og:site_name" content="My Website">
  <meta name="og:type" content="website">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Title website">
  <meta name="twitter:description" content="Description website">
  <link href="assets/css/plugins/bootstrap.min.css" rel="stylesheet">
  <link href="assets/css/plugins/slick.css" rel="stylesheet">
  <link href="assets/css/plugins/ion.rangeSlider.min.css" rel="stylesheet">
  <link href="assets/css/plugins/magnific-popup.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/fonts/flaticon/flaticon.css" rel="stylesheet">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon.ico">
  <link href="assets/fonts/font-awesome.min.css" rel="stylesheet">
  <script src="https://www.google.com/recaptcha/api.js?render=6LceXdwUAAAAAM624k2Zezhs-jnmdJE8hjmhRMBh"></script>

</head>

<body class="btn-style-5 sigma_header-absolute btn-rounded sidebar-style-9">
  <script src="/assets/js/nvb.js"></script>
  <div id='nvbar'>
  </div>
  <script>
    nvb('contact us');
  </script>
  <!--Section End-->
  <!--Section Start-->
  <div class="section section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="sigma_info style-24">
            <div class="sigma_info-title">
              <span class="sigma_info-icon bg-primary-1 text-white">

                <i class="flaticon-hospital"></i>

              </span>
            </div>
            <div class="sigma_info-description">
              <h5>Our Address</h5>
              <p>PSD Building, 2 Tower St, United States.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="sigma_info style-24">
            <div class="sigma_info-title">
              <span class="sigma_info-icon bg-primary-1 text-white">

                <i class="flaticon-call"></i>

              </span>
            </div>
            <div class="sigma_info-description">
              <h5>Our Phone</h5>
              <p>Telephone: 0029129102320</p>
              <p>Mobile: 000 2324 39493</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="sigma_info style-24">
            <div class="sigma_info-title">
              <span class="sigma_info-icon bg-primary-1 text-white">

                <i class="flaticon-envelope"></i>

              </span>
            </div>
            <div class="sigma_info-description">
              <h5>Our Email</h5>
              <p>Main Email: doc@email.com</p>
              <p>Inquiries: info@orex.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Section End-->
  <!--Section Start-->

  <div class="section pt-0">
    <div class="container">
      <div class="section-title centered">
        <span class="subtitle">Call to Action</span>
        <h3 class="title">Make a Request</h3>
      </div>
      <div class="sigma_form style-2">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <input type="text" id="subName" name="name" placeholder="Enter Full Name">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <input type="email" id="subEmail" name="email" placeholder="Email Address">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <input type="text" id="subPhone" name="phone" placeholder="Phone number">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                
                  <input type="text" id="subSubject" name="subject" placeholder="subject">

                
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <textarea name="message" id="subMessage" rows="10" placeholder="Enter Message">
                </textarea>
              </div>
              <div id="snackbar">message cent</div>
            </div>
            <div class="col-12 text-center">
              <button   onclick="myFunction()" id="sendEmail">Submit Request</button>
              <div class="server_response w-100">
              </div>
              
              
            </div>
          </div>
      </div>
    </div>
  </div>
  <!--Section End-->

  <div class="sigma_contact-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1667.4765826538453!2d44.42410565829256!3d33.29388823717284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe6f2ce95b0c9605c!2zMzPCsDE3JzM4LjAiTiA0NMKwMjUnMzAuNyJF!5e0!3m2!1sen!2siq!4v1664869558204!5m2!1sen!2siq" width="600" allowfullscreen="true"></iframe>
    </iframe>
  </div>

  <!--Section Start-->
  <footer class="sigma_footer style-5 pb-0" id="footer"></footer>
  <script>
    footer()
  </script>
  <!--Section End-->


  <script src="assets/js/plugins/jquery-3.4.1.min.js"></script>
  <script src="assets/js/plugins/popper.min.js"></script>
  <script src="assets/js/plugins/bootstrap.min.js"></script>
  <script src="assets/js/plugins/jquery.instagramFeed.min.js"></script>
  <script src="assets/js/plugins/slick.min.js"></script>
  <script src="assets/js/plugins/imagesloaded.min.js"></script>
  <script src="assets/js/plugins/isotope.pkgd.min.js"></script>
  <script src="assets/js/plugins/jquery.magnific-popup.min.js"></script>
  <script src="assets/js/plugins/jquery.counterup.min.js"></script>
  <script src="assets/js/plugins/jquery.inview.min.js"></script>
  <script src="assets/js/plugins/ion.rangeSlider.min.js"></script>
  <script src="assets/js/plugins/jquery.validate.min.js"></script>
  <script src="assets/js/main.js"></script>
  <script src="assets/functions/mf_form.js"></script>
  <script src="../../controller/subscripe_controller.js" ></script>

</body>

</html>
