<!DOCTYPE HTML>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Clinic Grid</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Description website">
  <meta name="author" content="Maksym Blank">
  <meta name="keywords" content="website, with, meta, tags">
  <meta name="robots" content="noindex, follow">
  <meta name="revisit-after" content="5 month">
  <meta name="image" content="http://mywebsite.com/image.jpg">
  <meta name="og:title" content="Title website">
  <meta name="og:description" content="Description website">
  <meta name="og:image" content="http://mywebsite.com/image.jpg">
  <meta name="og:site_name" content="My Website">
  <meta name="og:type" content="website">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Title website">
  <meta name="twitter:description" content="Description website">
  <link href="assets/css/plugins/bootstrap.min.css" rel="stylesheet">
  <link href="assets/css/plugins/slick.css" rel="stylesheet">
  <link href="assets/css/plugins/ion.rangeSlider.min.css" rel="stylesheet">
  <link href="assets/css/plugins/magnific-popup.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/fonts/flaticon/flaticon.css" rel="stylesheet">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon.ico">
  <link href="assets/fonts/font-awesome.min.css" rel="stylesheet">
</head>

<body class="btn-style-5 sigma_header-absolute btn-rounded sidebar-style-9">
  <!--Section Start-->
  <script src="/assets/js/nvb.js"></script>
  <div id='nvbar'>
  </div>
  
  <script>
    nvb('clinic');
  </script>

 
  
    <!--Section Start-->
    <div class="section section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="sidebar">
  
              <!-- Category Widget -->
              <div class="widget">
                <h5 class="widget-title">Type</h5>
  
                <input type="radio" name="clinicFilter" value="nopreference" id="genderDoctor">
                <label for="genderDoctor" >No Preference</label>
  
                <input type="radio"  name="clinicFilter" value="Doctor" id="genderDoctor1">
                <label for="genderDoctor1">Doctor</label>
  
                <input type="radio" name="clinicFilter" value="Pharmacy" id="genderDoctor2">
                <label  for="genderDoctor2">Pharmacy</label>
                
                <input type="radio" name="clinicFilter" value="Xray" id="genderDoctor3">
                <label  for="genderDoctor3">Xray</label>

                <input type="radio" name="clinicFilter" value="Labortary" id="genderDoctor4">
                <label  for="genderDoctor4">Labortary</label>

                <input type="radio" name="clinicFilter" value="jjjjj" id="genderDoctor5">
                <label  for="genderDoctor5">jjjjj</label>

                <input type="radio" name="clinicFilter" value="Hospital" id="genderDoctor6">
                <label  for="genderDoctor6">Hospital</label>
  
              </div>
              <div class="widget p-0 border-0">
                <div class="sigma_contact-map">
                  
                </div>
              </div>
  
            </div>
          </div>
          <div class="col-lg-8">
           <div class="row" id="clinicgrid">
          
           </div>

  
          </div>
        </div>
      </div>
    </div>
    <!--Section End-->
  
    <!--Section Start-->
    <footer class="sigma_footer style-5 pb-0" id="footer"></footer>
<script>
  footer()
</script>
    <!--Section End-->
  
<script src="../../controller/clinic_grid.js"></script>
  <script src="assets/js/plugins/jquery-3.4.1.min.js"></script>
    <script src="assets/js/plugins/popper.min.js"></script>
    <script src="assets/js/plugins/bootstrap.min.js"></script>
    <script src="assets/js/plugins/jquery.instagramFeed.min.js"></script>
    <script src="assets/js/plugins/slick.min.js"></script>
    <script src="assets/js/plugins/imagesloaded.min.js"></script>
    <script src="assets/js/plugins/isotope.pkgd.min.js"></script>
    <script src="assets/js/plugins/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/plugins/jquery.counterup.min.js"></script>
    <script src="assets/js/plugins/jquery.inview.min.js"></script>
    <script src="assets/js/plugins/ion.rangeSlider.min.js"></script>
    <script src="assets/js/main.js"></script>
  </body>